.earthTile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 80px;
  border: 1px solid black;
  background-color: rgb(102, 63, 40);
}

.earthTile:hover{
  background-color: rgb(75, 46, 29);
}