.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}


.tile:hover{
  background-color: lightgray;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: lightgreen;
}