.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
}

.air {
  background-color: rgb(180, 205, 233);
}

.air:hover {
  background-color: rgb(66, 111, 112);
}

.earth {
  background-color: rgb(102, 63, 40);
}

.earth:hover{
  background-color: rgb(75, 46, 29);
}

.fire {
  background-color: rgb(223, 1, 1);
}

.fire:hover{
  background-color: rgb(172, 1, 1);
}

.water{
  background-color: rgb(6, 124, 235);
}

.water:hover{
  background-color: rgb(4, 101, 190);
}