.fireTile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 80px;
  border: 1px solid black;
  background-color: rgb(223, 1, 1);
}

.fireTile:hover{
  background-color: rgb(172, 1, 1);
}